@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
  box-sizing: border-box;
}

body {
  @include background;
  height: 100%;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}

//Headings

h1,
h2 {
  margin: 0;
  font-weight: 200;
  color: white;

  &.big-heading {
    font-size: 4rem;
  }
  &.small-heading {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

.text-secondary {
  color: $primary-color;
}

.icons a {
  text-decoration: none;
  padding: 1rem;
  &.facebook {
    color: rgb(8, 71, 187);
  }
  &.instagram {
    color: black;
  }

  .naver-blog {
    height: 50px;
    width: 50px;
    border-radius: 15%;
  }
  &:hover {
    opacity: 0.5;
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  a img {
    position: absolute;
    left: 35px;
    top: 35px;
    height: 40px;
    width: 40px;
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
  &#about {
    overflow: hidden;
    button {
      padding: 40px;
      font-size: 70px;
      margin-top: 10vh;
      font-family: "Oswald";
      color: black;
      outline: none;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        font-size: 80px;
        @include easeOut;
      }
    }
  }
  &#program {
    overflow: hidden;
    text-align: center;
    button {
      padding: 40px;
      font-size: 70px;
      margin-top: 10vh;
      font-family: "Oswald";
      letter-spacing: 1rem;
      color: black;
      outline: none;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        font-size: 80px;
        @include easeOut;
      }
    }
  }

  &#library {
    overflow: hidden;
    h1 {
      margin-top: 15vh;
      font-family: "Oswald";
      color: white;
      letter-spacing: 1rem;
      text-align: center;
      font-size: 4rem;
    }
  }
}

.main-footer {
  font-size: 20px;
  text-align: center;
  padding: 1rem;
  height: 60px;
  color: black;
  border-top: solid $primary-color 2px;
  background: rgba(white, 0.4);
}

//About-Us
.about {
  display: none;
  &.show {
    display: block;
    -webkit-animation: fadein 2s;
  }

  .about-list {
    list-style: none;
    margin-left: 50px;
    font-size: 2rem;
    -webkit-animation: fadein 2s;
    li {
      margin-bottom: 5rem;
    }
  }

  .about-list2 {
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    li {
      font-size: 2rem;
    }
    p {
      font-size: 20px;
      margin-bottom: 5rem;
    }
    -webkit-animation: fadein 2s;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .arrow-left {
    border-width: 20px 40px 20px 0;
    border-color: transparent black transparent transparent;
    left: 0;
    margin-left: 20px;
  }
  .arrow-right {
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent black;
    right: 0;
    margin-right: 20px;
  }
}

//Program
.program {
  display: none;
  &.show {
    display: block;
    -webkit-animation: fadein 2s;
  }

  .program-list {
    list-style: none;
    margin-top: 15vh;
    font-size: 2rem;
    -webkit-animation: fadein 2s;
    li {
      margin-bottom: 5rem;
    }
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .arrow-left {
    border-width: 20px 40px 20px 0;
    border-color: transparent black transparent transparent;
    left: 0;
    margin-left: 20px;
  }
  .arrow-right {
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent black;
    right: 0;
    margin-right: 20px;
  }
}

.table {
  display: none;
  &.show {
    display: table;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: fadein 2s;
    border-collapse: collapse;
    border-spacing: 0;
    border: black solid 2px;
    td,
    th {
      padding: 10px;
      border: 1px solid black;
      overflow: hidden;
      word-break: normal;
    }
    .text {
      text-align: center;
    }
    th {
      background-color: #e6f2ff;
    }
    td {
      &:nth-child(n + 1) {
        background-color: #e6fff7;
      }
      &:nth-child(3),
      &#special {
        background-color: #ffe6e6;
      }
    }
  }
}
